<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Драконий блог</title>
</head>
<body>
    <div>
        <h1><a href="/">Мой блог</a></h1>
    </div>

    <div>
        
        <h2><a href="">Первая запись</a></h2>
        <p>published: 27.11.2020, 11:47</p>
        <p>Уже неделю мы с драконами пытаемся запустить блог на Django.</p>
    </div>

    <div>
        <p>published: 29.11.2020, 12:14</p>
        <h2><a href="">Старейшина драконов делится мудростью</a></h2>
        <p>"Js будет на хайпе еще несколько лет"-старейшина</p>
    </div>
</body>
</html>